



/* mobile */
@media  (max-width: 600px) {

  * {
    box-sizing: border-box;
  }

  .tabContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90vw;
    height: 100%;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);

  }

  #getTypeBtn {
    margin-top: 5vh;
    width: 50vw;
    height: 40px;
    border-radius: 20px;
    max-width: 300px;
   

  }

  .tabMenu {
    display: flex;
  }

  .tab {
    border: none;
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 1.3em;

  }

  .tab:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }

  .activeTab {
    background-color: aliceblue;
    border-bottom: 1px solid transparent;
  }

  .tabContentWrapper {
    flex-grow: 1;
  }

  .tabContent {
    background-color: aliceblue;
    /* padding: 17px; */
    padding: 4vw;
    width: 100%;
    height: 100%;
    display: none;
  }

  .activeTabcontent {
    display: block;
    text-align: center;
  }

}


/*  tablet */

@media (min-width: 601px) and (max-width: 991px){


  * {
    box-sizing: border-box;
  }

  .tabContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80vw;
    /* max-width: 700px; */
    height: 100%;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);

  }

  #getTypeBtn {
    margin-top: 5vh;
    width: 50vw;
    height: 40px;
    border-radius: 20px;
    max-width: 300px;
    font-size: 1.1em;

  }

  .tabMenu {
    display: flex;
  }

  .tab {
    border: none;
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 1.3em;

  }

  .tab:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }

  .activeTab {
    background-color: aliceblue;
    border-bottom: 1px solid transparent;
  }

  .tabContentWrapper {
    flex-grow: 1;
  }

  .tabContent {
    background-color: aliceblue;
    padding: 4vw;
    width: 100%;
    height: 100%;
    display: none;
  }

  .activeTabcontent {
    display: block;
    text-align: center;
  }


}

/* laptop dektop */

@media only screen and (min-width: 992px) {

  * {
    box-sizing: border-box;
  }

  .tabContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vw;
    max-width: 1000px;
    height: 100%;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);

  }

  #getTypeBtn {
    margin-top: 5vh;
    width: 50vw;
    height: 40px;
    border-radius: 20px;
    max-width: 300px;
    font-size: 1.2em;

  }

  .tabMenu {
    display: flex;
  }

  .tab {
    border: none;
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 1.5em;

  }

  .tab:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }

  .activeTab {
    background-color: aliceblue;
    border-bottom: 1px solid transparent;
  }

  .tabContentWrapper {
    flex-grow: 1;
  }

  .tabContent {
    background-color: aliceblue;
    padding: 3vw;
    width: 100%;
    height: 100%;
    display: none;
  }

  .activeTabcontent {
    display: block;
    text-align: center;
  }

}